html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
center {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
}
iframe {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    margin: 0;
    border: none;
    width: 50%;
    height: 80%;
    z-index: 1;
    user-select: none;
}
.fullScreen {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    z-index:9999;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
div {
    margin: 8px 8px 8px 8px;
}
h3{
    z-index:52;
}